/* HERO SECTION */

.landing-container {
    padding-top: 6rem;
}

.hero-wrapper {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-title {
    color: #263238;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.hero-p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: rgb(25, 25, 25);
}

.input-wrapper {
    display: flex;
    text-align: center;
    gap: 1rem;
}

.input-box {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(117, 117, 117);
    padding: 12px;
    letter-spacing: -0.05px;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
}

.input-button {
    min-width: 120px;
    border-radius: 4px;
}
.total-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.total-box {
    padding: 10px 20px;
    width: 12rem;
    margin: auto;
}

/* WHY SECTION */

@media (min-width:768px) {
    .landing-container {
        flex-direction: row;
    }
    .hero-wrapper {
        background-image: url('./kotakode.gif');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 70%;
    }
    .text-wrapper {
        width: 100%;
        text-align: left;
        align-items: flex-start;
    }
    .total-wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }
    .total-box {
        min-height: 100px;
    }
}

@media (min-width:1024px) {
    .landing-container {
        padding: 6rem;
    }
    .hero-title {
        font-size: 48px;
        line-height: 56px;
    }
}